<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.mobilemakers.picoyplaca" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_car"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".CreateVehicle"
            android:label="@string/title_activity_create_vehicle" >
        </activity>
    </application>

</manifest>
